body {
    background-image: url("https://img.freepik.com/premium-vector/luxury-thai-pattern-blue-gold-theme-background-vector_94250-314.jpg");
    background-color: #cccccc;
    background-size: contain;
    font-family: 'Charm', cursive;
    position: relative;
}

.nowrap {
    white-space: nowrap ;
}

.centerpic {
    display: flex;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 86%;
}

#multi_option {
    max-width: 100%;
    width: 350px;
}

label {
    display: block;
    font-size: 28px;
    margin-bottom: 5px;
    color: aliceblue;
    font-family: 'Charm', cursive;
}

.vscomp-toggle-button {
    padding: 10px 30px 10px 10px;
    border-radius: 5px;
}

.selects {
    margin: auto;
    text-align: center;
}

label {
    margin: 10px;
}

#bottom {
    position: absolute;
    bottom: 10;
    right: 10;
    color: rgb(255, 255, 255);
    font-family: 'Charm', cursive;
}
nav{
    background-image: linear-gradient(to top, rgba(255,0,0,0), #001c6a);

}
.navbar {
    /* background-color: #001c6a; */
    text-align: center;
    overflow: hidden;
    width: 86%;
    margin: auto;
}

.navbar a {
    float: left;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}
.container {
    padding-top: 20px;
    position: relative;
    background-color: rgb(255, 185, 55);
    padding-bottom: 50px;
}

h1 {
    text-align: center;
    font-family: 'Charm', cursive;
    padding: 20px;
    padding-top: 50px;
    color: white;
}

h4 {
    font-family: 'Kanit';
}

.sub-container {
    padding: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
}

li {
    font-family: 'Krub';
}

.button {
    text-align: center;
}

a {
    margin: 2px;
}

.container1 {
    padding-left: 200px;
    position: relative;
}

.tab {
    display: inline-block;
    margin-left: 40px;
}

.site-footer {
    background-color: #26272b;
    padding: 45px 0 20px;
    font-size: 15px;
    line-height: 24px;
    color: #737373;
}

.site-footer hr {
    border-top-color: #bbb;
    opacity: 0.5
}

.site-footer hr.small {
    margin: 20px 0
}

.site-footer h6 {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 5px;
    letter-spacing: 2px
}

.site-footer a {
    color: #737373;
}

.site-footer a:hover {
    color: #3366cc;
    text-decoration: none;
}

.footer-links {
    padding-left: 0;
    list-style: none
}

.footer-links li {
    display: block
}

.footer-links a {
    color: #737373
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
    color: #3366cc;
    text-decoration: none;
}

.footer-links.inline li {
    display: inline-block
}

.site-footer .social-icons {
    text-align: right
}

.site-footer .social-icons a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-left: 6px;
    margin-right: 0;
    border-radius: 100%;
    background-color: #33353d
}