<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>ตัวแม่จะแคร์เพื่อ</title>
    <link rel="stylesheet" type="text/css" href="css/TestToC.css" />
    <link rel="stylesheet" type="text/css" href="css/virtual-select.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Charm&display=swap"
      rel="stylesheet"
    />
    <link href="https://fonts.googleapis.com/css2?family=Krub:wght@300;600&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kanit:wght@700&display=swap" rel="stylesheet">
</head>
  <body>
    <img
      src="https://s359.kapook.com/pagebuilder/b62916bb-10ce-462c-a9ba-cd01dabae311.jpg"
      class="centerpic"
    />
    <div id="bottom">โดย กลุ่มตัวแม่จะแคร์เพื่อ</div>

    <div class="container">
        <h1>สรุปการใช้ Regular Expression</h1>
        
        <div class="button">
            <a class="btn btn-outline-light" href="#1" role="button">ฉะเชิงเทรา</a>
            <a class="btn btn-outline-light" href="#2" role="button">ชลบุรี</a>
            <a class="btn btn-outline-light" href="#3" role="button">ชัยนาท</a>
            <a class="btn btn-outline-light" href="#4" role="button">ชัยภูมิ</a>
        </div>

        <div class="sub-container" id="1">
            <br>
            <h4>จังหวัดฉะเชิงเทรา &#128725</h4>
            <li>บรรทัดที่ 1,2,3 import requests, BeautifulSoup, re เพื่อจะใช้ในการดึงข้อมูลจากหน้าเว็ปในขั้นตอนต่อๆไป</li>
            <li>บรรทัดที่ 5 สร้างตัวแปล page เพื่อทำการดึงข้อมูลของ url โดยทำการ parse ตัว url เข้าไปใน ฟังก์ชัน  requests.get( )  โดยใช้เมธอด get คือใช้ดึงข้อมูล โดยที่ resource ต้นทางไม่มีการเปลี่ยนแปลงของข้อมูล</li>
            <li>บรรทัดที่ 6 ใช้ page.content เพื่อให้ได้เนื้อหาเป็นไบนารีซึ่งยังไม่มีการถอดรหัส</li>
            <li>บรรทัดที่ 12 กำหนดรูปแบบ (pattern) ของ regular expression เพื่อค้นหาชื่อจังหวัด โดยในที่นี้เรากำหนด คือ <font color="blue">รายชื่อวัดใน(.*)(&lt;/span&gt;)</font></li>
            <li>บรรทัดที่ 13 ค้นหาชื่อจังหวัด มีการใช้ re.search ในการค้นหาข้อมูล และเก็บข้อมูลที่ตรงกับรูปแบบที่กำหนดในบรรทัดที่ 12 ซึ่งข้อมูลแต่ละวงเล็บจะเป็น group เช่น รูปแบบ (pattern) คือ  <font color="blue">รายชื่อวัดใน(.*)(&lt;/span&gt;)</font> โดยรูปแบบ (pattern) มีหลักการคิดดังนี้
                <ol>
                    <li>แยกข้อมูลเป็น 2 กลุ่ม ได้แก่</li>
                    <ol type="a">
                        <li>group(1) → <font color="blue">(.*)</font> ใช้ค้นหาชื่อจังหวัด</li>
                        <li>group(2) → <font color="blue">(&lt;/span&gt;)</font> ใช้เป็นรูปแบบสิ้นสุดในการค้นหา</li>
                    </ol>
                    <li><font color="blue">(.*)</font> ใช้ค้นหาและเก็บข้อมูลชื่อจังหวัด</li>
                    <ol type="a">
                        <li><font color="white">.</font>  เพื่อการ concat</li>
                        <li><font color="white">*</font>  เพื่อค้นหาชุดของ string ที่เป็นไปได้ทั้งหมดเริ่มตั้งแต่ empty string</li>
                    </ol>
                </ol>
            </li>
            <li>บรรทัดที่ 18 สร้าง BeautifulSoup object ซึ่งรับเอา input มาจากเนื้อหาของ page แล้วเอา BeautifulSoup object นี้ไปใส่ไว้ในตัวแปรที่ชื่อว่า soup โดย html.parser คือ ชื่อชนิดของตัวถอดรหัสข้อความ ที่ใช้อ่าน html</li>
            <li>บรรทัดที่ 19 content = soup.find_all('li') เป็นการหาจากคำว่า li ทั้งหมดของหน้า HTML</li>
            <li>บรรทัด 20 แปลง content เป็นชนิด string เพื่อนำไปใช้ต่อ เพื่อนำ pattern ที่จะกำหนดไปค้นหาต่อไป</li>
            <li>บรรทัดที่ 22 กำหนดรูปแบบ (pattern) ของ regular expression เพื่อค้นหารายชื่อวัดใน<font color="yellow">จังหวัดฉะเชิงเทรา</font> โดยในที่นี้เรากำหนด คือ <font color="blue">title="(วัด.*?)"</font> โดยรูปแบบ (pattern) มีหลักการคิดดังนี้
                <ol>
                    <li>ใน html มีรูปแบบ <font color="blue">title="...(รายชื่อวัด)..."</font> จึงใช้รูปแบบนี้ <font color="blue">title="(วัด.*?)"</font> ในการค้นหารายชื่อวัดใน<font color="yellow">จังหวัดฉะเชิงเทรา</font></li>
                    <li>ให้ข้อมูลเป็นกลุ่ม คือ <font color="blue">(วัด.*?)</font> สำหรับเก็บข้อมูลรายชื่อวัดใน<font color="yellow">จังหวัดฉะเชิงเทรา</font></li>
                    <ol type="a">
                        <li><font color="white">.</font>  เพื่อการ concat</li>
                        <li><font color="white">*</font>  เพื่อค้นหาชุดของ string ที่เป็นไปได้ทั้งหมดเริ่มตั้งแต่ empty string</li>
                        <li><font color="white">?</font> เพื่อค้นหา string  ที่มี " ปิดท้าย string เพียงแค่ตัวเดียว หากไม่ได้ใช้ ? ในรูปแบบ (pattern) จะทำให้ได้ข้อมูลที่ไม่เกี่ยวข้องเข้ามาด้วย เพราะใน html มี " ปิดท้าย string หลายตัว</li>
                    </ol>
                </ol>
            </li>
            <li>บรรทัดที่ 23 ประมวลผลข้อมูล มีการใช้ re.findall เก็บข้อมูลแค่ภายในวงเล็บตามรูปแบบที่กำหนดไว้ใน เก็บข้อมูลแค่ภายในวงเล็บ</li>
            <li>บรรทัดที่ 26 กำหนดรูปแบบ (pattern) ของ regular expression โดยในที่นี้เรากำหนด คือ  <font color="blue">(.*)</font> เพื่อใช้เป็นรูปแบบของข้อมูลที่ไม่เกี่ยวข้อง</li>
            <li>บรรทัดที่ 27 แทนที่ข้อมูล มีการใช้ re.sub เป็นการแทนที่รูปแบบนั้นๆ ด้วยอะไรก็ได้ตามที่กำหนด โดยในที่นี้เราจะแทนที่รูปแบบตามที่กำหนดในบรรทัดที่ 27 ด้วย empty string</li>
            <li>บรรทัดที่ 35 กำหนดรูปแบบ (pattern) โดยในที่นี้เรากำหนด คือ <font color="blue">วัดไทย</font></li>
            <li>บรรทัดที่ 36 ค้นหาเพื่อทำการลบข้อมูล มีการใช้ re.search ในการค้นหาข้อมูลที่ตรงกับรูปแบบที่กำหนดในบรรทัดที่ 35 เพิ่อทำการลบข้อมูลนั้นออกในส่วนที่ 46 - 47</li>
        </div>
        
        <div class="sub-container" id="2">
            <br>
            <h4>จังหวัดชลบุรี &#128725</h4>
            <li>บรรทัดที่ 1,2,3 import requests, BeautifulSoup, re เพื่อจะใช้ในการดึงข้อมูลจากหน้าเว็ปในขั้นตอนต่อๆไป</li>
            <li>บรรทัดที่ 5 สร้างตัวแปล page เพื่อทำการดึงข้อมูลของ url โดยทำการ parse ตัว url เข้าไปใน ฟังก์ชัน  requests.get( )  โดยใช้เมธอด get คือใช้ดึงข้อมูล โดยที่ resource ต้นทางไม่มีการเปลี่ยนแปลงของข้อมูล</li>
            <li>บรรทัดที่ 6 ใช้ page.content เพื่อให้ได้เนื้อหาเป็นไบนารีซึ่งยังไม่มีการถอดรหัส</li>
            <li>บรรทัดที่ 12 กำหนดรูปแบบ (pattern) ของ regular expression เพื่อค้นหาชื่อจังหวัด โดยในที่นี้เรากำหนด คือ <font color="blue">รายชื่อวัดใน(.*)(&lt;/span&gt;)</font></li>
            <li>บรรทัดที่ 13 ค้นหาชื่อจังหวัด มีการใช้ re.search ในการค้นหาข้อมูล และเก็บข้อมูลที่ตรงกับรูปแบบที่กำหนดในบรรทัดที่ 12 ซึ่งข้อมูลแต่ละวงเล็บจะเป็น group เช่น รูปแบบ (pattern) คือ  <font color="blue">รายชื่อวัดใน(.*)(&lt;/span&gt;)</font> โดยรูปแบบ (pattern) มีหลักการคิดดังนี้
                <ol>
                    <li>แยกข้อมูลเป็น 2 กลุ่ม ได้แก่</li>
                    <ol type="a">
                        <li>group(1) → <font color="blue">(.*)</font> ใช้ค้นหาชื่อจังหวัด</li>
                        <li>group(2) → <font color="blue">(&lt;/span&gt;)</font> ใช้เป็นรูปแบบสิ้นสุดในการค้นหา</li>
                    </ol>
                    <li><font color="blue">(.*)</font> ใช้ค้นหาและเก็บข้อมูลชื่อจังหวัด</li>
                    <ol type="a">
                        <li><font color="white">.</font>  เพื่อการ concat</li>
                        <li><font color="white">*</font>  เพื่อค้นหาชุดของ string ที่เป็นไปได้ทั้งหมดเริ่มตั้งแต่ empty string</li>
                    </ol>
                </ol>
            </li>
            <li>บรรทัดที่ 18 สร้าง BeautifulSoup object ซึ่งรับเอา input มาจากเนื้อหาของ page แล้วเอา BeautifulSoup object นี้ไปใส่ไว้ในตัวแปรที่ชื่อว่า soup โดย html.parser คือ ชื่อชนิดของตัวถอดรหัสข้อความ ที่ใช้อ่าน html</li>
            <li>บรรทัดที่ 19 content = soup.find_all('li') เป็นการหาจากคำว่า li ทั้งหมดของหน้า HTML</li>
            <li>บรรทัด 20 แปลง content เป็นชนิด string เพื่อนำไปใช้ต่อ เพื่อนำ pattern ที่จะกำหนดไปค้นหาต่อไป</li>
            <li>บรรทัดที่ 22 กำหนดรูปแบบ (pattern) ของ regular expression เพื่อค้นหารายชื่อวัดใน<font color="yellow">จังหวัดชลบุรี</font> โดยในที่นี้เรากำหนด คือ <font color="blue">title="(วัด.*?)"</font> โดยรูปแบบ (pattern) มีหลักการคิดดังนี้
                <ol>
                    <li>ใน html มีรูปแบบ <font color="blue">title="...(รายชื่อวัด)..."</font> จึงใช้รูปแบบนี้ <font color="blue">title="(วัด.*?)"</font> ในการค้นหารายชื่อวัดใน<font color="yellow">จังหวัดชลบุรี</font></li>
                    <li>ให้ข้อมูลเป็นกลุ่ม คือ <font color="blue">(วัด.*?)</font> สำหรับเก็บข้อมูลรายชื่อวัดใน<font color="yellow">จังหวัดชลบุรี</font></li>
                    <ol type="a">
                        <li><font color="white">.</font>  เพื่อการ concat</li>
                        <li><font color="white">*</font>  เพื่อค้นหาชุดของ string ที่เป็นไปได้ทั้งหมดเริ่มตั้งแต่ empty string</li>
                        <li><font color="white">?</font> เพื่อค้นหา string  ที่มี " ปิดท้าย string เพียงแค่ตัวเดียว หากไม่ได้ใช้ ? ในรูปแบบ (pattern) จะทำให้ได้ข้อมูลที่ไม่เกี่ยวข้องเข้ามาด้วย เพราะใน html มี " ปิดท้าย string หลายตัว</li>
                    </ol>
                </ol>
            </li>
            <li>บรรทัดที่ 23 ประมวลผลข้อมูล มีการใช้ re.findall เก็บข้อมูลแค่ภายในวงเล็บตามรูปแบบที่กำหนดไว้ใน เก็บข้อมูลแค่ภายในวงเล็บ</li>
            <li>บรรทัดที่ 26 กำหนดรูปแบบ (pattern) ของ regular expression โดยในที่นี้เรากำหนด คือ  <font color="blue">(.*)</font> เพื่อใช้เป็นรูปแบบของข้อมูลที่ไม่เกี่ยวข้อง</li>
            <li>บรรทัดที่ 27 แทนที่ข้อมูล มีการใช้ re.sub เป็นการแทนที่รูปแบบนั้นๆ ด้วยอะไรก็ได้ตามที่กำหนด โดยในที่นี้เราจะแทนที่รูปแบบตามที่กำหนดในบรรทัดที่ 26 ด้วย empty string</li>
            <li>บรรทัดที่ 34 กำหนดรูปแบบ (pattern) โดยในที่นี้เรากำหนด คือ <font color="blue">วัดไทย</font></li>
            <li>บรรทัดที่ 35 ค้นหาเพื่อทำการลบข้อมูล มีการใช้ re.search ในการค้นหาข้อมูลที่ตรงกับรูปแบบที่กำหนดในบรรทัดที่ 34 เพื่อทำการลบข้อมูลนั้นออกในส่วนที่ 45 - 46</li>
            <li>บรรทัดที่ 50 กำหนดรูปแบบ (pattern) ของ regular expression โดยในที่นี้เรากำหนด คือ วัดคลองพลู เพื่อใช้เป็นรูปแบบของข้อมูลที่ซ้ำ</li>
            <li>บรรทัดที่ 51 ค้นหาเพื่อทำการลบข้อมูลซ้ำ มีการใช้ re.search ในการค้นหาข้อมูลที่ตรงกับรูปแบบที่กำหนดในบรรทัดที่ 50 เพื่อทำการลบข้อมูลนั้นออกในส่วนที่บรรทัด 57</li>
        </div>
        
        <div class="sub-container" id="3">
            <br>
            <h4>จังหวัดชัยนาท &#128725</h4>
            <li>บรรทัดที่ 1,2,3 import requests, BeautifulSoup, re เพื่อจะใช้ในการดึงข้อมูลจากหน้าเว็ปในขั้นตอนต่อๆไป</li>
            <li>บรรทัดที่ 5 สร้างตัวแปล page เพื่อทำการดึงข้อมูลของ url โดยทำการ parse ตัว url เข้าไปใน ฟังก์ชัน  requests.get( )  โดยใช้เมธอด get คือใช้ดึงข้อมูล โดยที่ resource ต้นทางไม่มีการเปลี่ยนแปลงของข้อมูล</li>
            <li>บรรทัดที่ 6 ใช้ page.content เพื่อให้ได้เนื้อหาเป็นไบนารีซึ่งยังไม่มีการถอดรหัส</li>
            <li>บรรทัดที่ 12 กำหนดรูปแบบ (pattern) ของ regular expression เพื่อค้นหาชื่อจังหวัด โดยในที่นี้เรากำหนด คือ <font color="blue">รายชื่อวัดใน(.*)(&lt;/span&gt;)</font></li>
            <li>บรรทัดที่ 13 ค้นหาชื่อจังหวัด มีการใช้ re.search ในการค้นหาข้อมูล และเก็บข้อมูลที่ตรงกับรูปแบบที่กำหนดในบรรทัดที่ 12 ซึ่งข้อมูลแต่ละวงเล็บจะเป็น group เช่น รูปแบบ (pattern) คือ  <font color="blue">รายชื่อวัดใน(.*)(&lt;/span&gt;)</font> โดยรูปแบบ (pattern) มีหลักการคิดดังนี้
                <ol>
                    <li>แยกข้อมูลเป็น 2 กลุ่ม ได้แก่</li>
                    <ol type="a">
                        <li>group(1) → <font color="blue">(.*)</font> ใช้ค้นหาชื่อจังหวัด</li>
                        <li>group(2) → <font color="blue">(&lt;/span&gt;)</font> ใช้เป็นรูปแบบสิ้นสุดในการค้นหา</li>
                    </ol>
                    <li><font color="blue">(.*)</font> ใช้ค้นหาและเก็บข้อมูลชื่อจังหวัด</li>
                    <ol type="a">
                        <li><font color="white">.</font>  เพื่อการ concat</li>
                        <li><font color="white">*</font>  เพื่อค้นหาชุดของ string ที่เป็นไปได้ทั้งหมดเริ่มตั้งแต่ empty string</li>
                    </ol>
                </ol>
            </li>
            <li>บรรทัดที่ 18 สร้าง BeautifulSoup object ซึ่งรับเอา input มาจากเนื้อหาของ page แล้วเอา BeautifulSoup object นี้ไปใส่ไว้ในตัวแปรที่ชื่อว่า soup โดย html.parser คือ ชื่อชนิดของตัวถอดรหัสข้อความ ที่ใช้อ่าน html</li>
            <li>บรรทัดที่ 19 content = soup.find_all('li') เป็นการหาจากคำว่า li ทั้งหมดของหน้า HTML</li>
            <li>บรรทัด 20 แปลง content เป็นชนิด string เพื่อนำไปใช้ต่อ เพื่อนำ pattern ที่จะกำหนดไปค้นหาต่อไป</li>
            <li>บรรทัดที่ 22 กำหนดรูปแบบ (pattern) ของ regular expression เพื่อค้นหารายชื่อวัดใน<font color="yellow">จังหวัดชัยนาท</font> โดยในที่นี้เรากำหนด คือ <font color="blue">title="(วัด.*?)"</font> โดยรูปแบบ (pattern) มีหลักการคิดดังนี้
                <ol>
                    <li>ใน html มีรูปแบบ <font color="blue">title="...(รายชื่อวัด)..."</font> จึงใช้รูปแบบนี้ <font color="blue">title="(วัด.*?)"</font> ในการค้นหารายชื่อวัดใน<font color="yellow">จังหวัดชัยนาท</font></li>
                    <li>ให้ข้อมูลเป็นกลุ่ม คือ <font color="blue">(วัด.*?)</font> สำหรับเก็บข้อมูลรายชื่อวัดใน<font color="yellow">จังหวัดชัยนาท</font></li>
                    <ol type="a">
                        <li><font color="white">.</font>  เพื่อการ concat</li>
                        <li><font color="white">*</font>  เพื่อค้นหาชุดของ string ที่เป็นไปได้ทั้งหมดเริ่มตั้งแต่ empty string</li>
                        <li><font color="white">?</font> เพื่อค้นหา string  ที่มี " ปิดท้าย string เพียงแค่ตัวเดียว หากไม่ได้ใช้ ? ในรูปแบบ (pattern) จะทำให้ได้ข้อมูลที่ไม่เกี่ยวข้องเข้ามาด้วย เพราะใน html มี " ปิดท้าย string หลายตัว</li>
                    </ol>
                </ol>
            </li>
            <li>บรรทัดที่ 23 ประมวลผลข้อมูล มีการใช้ re.findall เก็บข้อมูลแค่ภายในวงเล็บตามรูปแบบที่กำหนดไว้ใน เก็บข้อมูลแค่ภายในวงเล็บ</li>
            <li>บรรทัดที่ 26 กำหนดรูปแบบ (pattern) ของ regular expression โดยในที่นี้เรากำหนด คือ  <font color="blue">(.*)</font> เพื่อใช้เป็นรูปแบบของข้อมูลที่ไม่เกี่ยวข้อง</li>
            <li>บรรทัดที่ 27 แทนที่ข้อมูล มีการใช้ re.sub เป็นการแทนที่รูปแบบนั้นๆ ด้วยอะไรก็ได้ตามที่กำหนด โดยในที่นี้เราจะแทนที่รูปแบบตามที่กำหนดในบรรทัดที่ 26 ด้วย empty string</li>
            <li>บรรทัดที่ 34 กำหนดรูปแบบ (pattern) โดยในที่นี้เรากำหนด คือ <font color="blue">วัดไทย</font></li>
            <li>บรรทัดที่ 35 ค้นหาเพื่อทำการลบข้อมูล มีการใช้ re.search ในการค้นหาข้อมูลที่ตรงกับรูปแบบที่กำหนดในบรรทัดที่ 34 เพื่อทำการลบข้อมูลนั้นออกในส่วนที่ 45 - 46</li>
        </div>

        <div class="sub-container" id="4">
            <br>
            <h4>จังหวัดชัยภูมิ &#128725</h4>
            <li>บรรทัดที่ 1,2,3 import requests, BeautifulSoup, re เพื่อจะใช้ในการดึงข้อมูลจากหน้าเว็ปในขั้นตอนต่อๆไป</li>
            <li>บรรทัดที่ 5 สร้างตัวแปล page เพื่อทำการดึงข้อมูลของ url โดยทำการ parse ตัว url เข้าไปใน ฟังก์ชัน  requests.get( )  โดยใช้เมธอด get คือใช้ดึงข้อมูล โดยที่ resource ต้นทางไม่มีการเปลี่ยนแปลงของข้อมูล</li>
            <li>บรรทัดที่ 6 ใช้ page.content เพื่อให้ได้เนื้อหาเป็นไบนารีซึ่งยังไม่มีการถอดรหัส</li>
            <li>บรรทัดที่ 12 กำหนดรูปแบบ (pattern) ของ regular expression เพื่อค้นหาชื่อจังหวัด โดยในที่นี้เรากำหนด คือ <font color="blue">รายชื่อวัดใน(.*)(&lt;/span&gt;)</font></li>
            <li>บรรทัดที่ 13 ค้นหาชื่อจังหวัด มีการใช้ re.search ในการค้นหาข้อมูล และเก็บข้อมูลที่ตรงกับรูปแบบที่กำหนดในบรรทัดที่ 12 ซึ่งข้อมูลแต่ละวงเล็บจะเป็น group เช่น รูปแบบ (pattern) คือ  <font color="blue">รายชื่อวัดใน(.*)(&lt;/span&gt;)</font> โดยรูปแบบ (pattern) มีหลักการคิดดังนี้
                <ol>
                    <li>แยกข้อมูลเป็น 2 กลุ่ม ได้แก่</li>
                    <ol type="a">
                        <li>group(1) → <font color="blue">(.*)</font> ใช้ค้นหาชื่อจังหวัด</li>
                        <li>group(2) → <font color="blue">(&lt;/span&gt;)</font> ใช้เป็นรูปแบบสิ้นสุดในการค้นหา</li>
                    </ol>
                    <li><font color="blue">(.*)</font> ใช้ค้นหาและเก็บข้อมูลชื่อจังหวัด</li>
                    <ol type="a">
                        <li><font color="white">.</font>  เพื่อการ concat</li>
                        <li><font color="white">*</font>  เพื่อค้นหาชุดของ string ที่เป็นไปได้ทั้งหมดเริ่มตั้งแต่ empty string</li>
                    </ol>
                </ol>
            </li>
            <li>บรรทัดที่ 18 สร้าง BeautifulSoup object ซึ่งรับเอา input มาจากเนื้อหาของ page แล้วเอา BeautifulSoup object นี้ไปใส่ไว้ในตัวแปรที่ชื่อว่า soup โดย html.parser คือ ชื่อชนิดของตัวถอดรหัสข้อความ ที่ใช้อ่าน html</li>
            <li>บรรทัดที่ 19 content = soup.find_all('li') เป็นการหาจากคำว่า li ทั้งหมดของหน้า HTML</li>
            <li>บรรทัด 20 แปลง content เป็นชนิด string เพื่อนำไปใช้ต่อ เพื่อนำ pattern ที่จะกำหนดไปค้นหาต่อไป</li>
            <li>บรรทัดที่ 22 กำหนดรูปแบบ (pattern) ของ regular expression เพื่อค้นหารายชื่อวัดใน<font color="yellow">จังหวัดชัยภูมิ</font> โดยในที่นี้เรากำหนด คือ <font color="blue">title="(วัด.*?)"</font> โดยรูปแบบ (pattern) มีหลักการคิดดังนี้
                <ol>
                    <li>ใน html มีรูปแบบ <font color="blue">title="...(รายชื่อวัด)..."</font> จึงใช้รูปแบบนี้ <font color="blue">title="(วัด.*?)"</font> ในการค้นหารายชื่อวัดใน<font color="yellow">จังหวัดชัยภูมิ</font></li>
                    <li>ให้ข้อมูลเป็นกลุ่ม คือ <font color="blue">(วัด.*?)</font> สำหรับเก็บข้อมูลรายชื่อวัดใน<font color="yellow">จังหวัดชัยภูมิ</font></li>
                    <ol type="a">
                        <li><font color="white">.</font>  เพื่อการ concat</li>
                        <li><font color="white">*</font>  เพื่อค้นหาชุดของ string ที่เป็นไปได้ทั้งหมดเริ่มตั้งแต่ empty string</li>
                        <li><font color="white">?</font> เพื่อค้นหา string  ที่มี " ปิดท้าย string เพียงแค่ตัวเดียว หากไม่ได้ใช้ ? ในรูปแบบ (pattern) จะทำให้ได้ข้อมูลที่ไม่เกี่ยวข้องเข้ามาด้วย เพราะใน html มี " ปิดท้าย string หลายตัว</li>
                    </ol>
                </ol>
            </li>
            <li>บรรทัดที่ 23 ประมวลผลข้อมูล มีการใช้ re.findall เก็บข้อมูลแค่ภายในวงเล็บตามรูปแบบที่กำหนดไว้ใน เก็บข้อมูลแค่ภายในวงเล็บ</li>
            <li>บรรทัดที่ 26 กำหนดรูปแบบ (pattern) ของ regular expression โดยในที่นี้เรากำหนด คือ  <font color="blue">(.*)</font> เพื่อใช้เป็นรูปแบบของข้อมูลที่ไม่เกี่ยวข้อง</li>
            <li>บรรทัดที่ 27 แทนที่ข้อมูล มีการใช้ re.sub เป็นการแทนที่รูปแบบนั้นๆ ด้วยอะไรก็ได้ตามที่กำหนด โดยในที่นี้เราจะแทนที่รูปแบบตามที่กำหนดในบรรทัดที่ 26 ด้วย empty string</li>
            <li>บรรทัดที่ 37 กำหนดรูปแบบ (pattern) โดยในที่นี้เรากำหนด คือ <font color="blue">วัดไทย</font></li>
            <li>บรรทัดที่ 38 ค้นหาเพื่อทำการลบข้อมูล มีการใช้ re.search ในการค้นหาข้อมูลที่ตรงกับรูปแบบที่กำหนดในบรรทัดที่ 37 เพิ่อทำการลบข้อมูลนั้นออกในส่วนที่ 48 - 49</li>
        </div>
    </div>
    <br>
    <br>
    <br>

    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous"></script>

    <!-- Site footer -->
    <footer class="site-footer">
      <div class="container1">
        <div class="row">
          <div class="col-sm-12 col-md-3">
            <h6>จัดทำโดย กลุ่มตัวแม่จะแคร์เพื่อ</h6>
            <p class="text-justify">
            63010417 ธนภรณ์  ศรีบุญพงศ์<br>
            63010495	นภัสวรรณ  ละมนเทียร<br>
            63010555	ปฏิภาณ ศรีธรณ์<br>
            63010608	ปิยวรรณ  หน่อปาล์ม<br>
            63010690	พิมพ์ลพัทร สุระแย้ม</p>
          </div>

          <div class="col-xs-6 col-md-2">
            <h6></h6>
            <p class="text-justify"><br>
            63010459	ธัญลักษณ์  อำไพ<br>
            63010524	นิชาภา พักเง้า<br>
            63010569	ประภัสสร  สุดใจใหม่<br>
            63010666	พัณณ์ชิตา วรต่าย<br>
            63010749	ภาวิดา สัตยมุข</p>
          </div>
          <div class="col-xs-6 col-md-3">
            <h6>เสนอ </h6>
            <ul class="footer-links">
              <li><a>รศ. ดร. เกียรติกูล เจียรนัยธนะกิจ</a></li>
              <li><a> 01076013 THEORY OF COMPUTATION </a></li>
            </ul>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>รายละเอียดเพิ่มเติม</h6>
            <ul class="footer-links">
              <li><a href="https://github.com/pakpak123/Theory-Computing-Project/tree/main/Temple%20Data">File csv</a></li>
              <li><a href="https://github.com/pakpak123/Theory-Computing-Project">Source Code</a></li>
              <li><a href="RE.html"> สรุป Regular expressions</a></li>
              
            </ul>
          </div>
        </div>
        <hr>
      </div>
      <div class="container1">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text">Computer Engineering, 
         <a href="https://www.kmitl.ac.th/"> King Mongkut's Institute of Technology Ladkrabang<br></a>
            </p>
          </div>

          
        </div>
      </div>
</footer>
  </body>
</html>
